*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin: 0 auto;
  width: 900px;
  height: 100vh;
}
.containers{
  margin: 10px 7px 0 0;
  height: 360px;
  width: 250px;
  position: relative;
  display: inline-block;
}
.row{
  text-align: center;
}
.containers>img{
  width: 100%;
}
.description{
  margin-top: 0;
  text-align: left;
  font-size: 0.7em;
}
.final-price{
  color: red;
}
.old-price{
  text-decoration: line-through;
}
.absolute{
  position: absolute;
}
.bold{
  font-weight: 900;
}
/* information */
.info{
  left: 0;
  bottom: 10px;
  color: white;
}
.small-conts{
  height: 13px;
  font-size: 0.5em;
  line-height: 13px;
  padding: 2px;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
/* end information */
.heart{
  background-color: white;
  top: 10px;
  right: 0;
  width: 20px;
  padding: 3px;
}
/* hover for photo */
.second-prod{
  display: none;
}
.containers:hover .second-prod{
  display: inline;
}
.containers:hover .first-prod{
  display: none;
}
