*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  margin: 0 auto;
  width: 900px;
  height: 100vh;
}
.containers{
  margin: 10px 7px 0 0;
  height: 360px;
  background-color: chartreuse;
  display: inline-block;
  position: relative;
}
.row{
  text-align: center;
}
.containers>img{
  height: 100%;
}
.description{
  margin-top: 0;
  text-align: left;
  font-size: 0.7em;
}
.final-price{
  color: red;
}
.old-price{
  text-decoration: line-through;
}
.bold{
  font-weight: 900;
}
.s-contain{
  height: 13px;
  font-size: 0.5em;
  line-height: 13px;
  padding: 1px;
}
.discount{
  background-color: red;
  left: 0;
  bottom: 10px;
}
.info{
  background-color: green;
  left: 23px;
  bottom: 10px;
}
.heart{
  background-color: white;
  top: 10px;
  right: 0;
  width: 20px;
  padding: 3px;
}
.absolute{
  position: absolute;
}
.col-white{
  color: white;
}
